<!DOCTYPE html>
<html>

<head>
    <title>Student Login</title>
</head>

<body>

<!--showing success message-->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<!--Form with multiple submit buttons-->
<form action="" method="POST" name="form">
    {% csrf_token %}
    <label for="dept">Enter the department:</label>
    <input type="dept" id="dept" name="department" /> <br>
    <label for="semester">Enter the semester:</label>
    <input type="semester" id="semester" name="semester" /> <br>
    <label for="year">Enter the year:</label>
    <input type="year" id="year" name="year" />
    <br> <br>
    <button type="submit" name="Search">Search</button>

</form>

</body>
</html>